.container{
    border-style: ridge;
    border-width: 8px;
    border-color: gray;
    background-color: white;
    margin: 10px 10px 10px 10px;
}

.title{
}

.errors{
    color: red;
}

div.separator{
    display: block;
    clear: both;
    height: 0.75em;
    width: 100%;
}

span.separator{
    content: "&nbsp;";
    padding-left:1cm;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    left: 35%;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.invisible {
    display: none;
}

.wait {
    cursor: wait;
}

.left{
    width:50%;
    display:inline-block;
    vertical-align:top;
}

.middle{
    width:50%;
    display:inline-block;
    vertical-align:top;
}

.right{
    width:50%;
    display:inline-block;
    vertical-align:top;
}

.ant-layout-header,
.ant-layout-footer {
    background: #7dbcea;
    color: #fff;
}
.ant-layout-footer {
    line-height: 1.5;
}
.ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
}
.ant-layout-content {
    background-image: url('../images/Augustine.jpg');
    background-size:100%;
    color: #fff;
    min-height: 120px;
    line-height: 120px;
}